@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

body {
    background-color: #604A7B;
    width: 100%;
}

figcaption {
    display: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    width: 100%;
    height: 18vh;
}

#img-logo {
    object-fit: contain;
    width: 60%;
    height: 10vh;
    margin: 4rem;
}

#navbar-main {
    margin: 7rem;
}

#listdesordened-travel {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2vw;
    width: 30vw;
}

.list-travel a {
    font-size: 1.5em;
    color: #FFFFFF;
}

.list-travel a:hover {
    color: #604A7B;
}

#main-travel-index {
    width: 100%;
    margin-top: 10rem;
}

.carrossel {
    margin-top: 60px;
    width: 100%;
    height: 80vh;
    background-color: #242424;
    position: relative;
    display: flex;
  }

  .img-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
  }
   
  .carrossel .img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
   
  .carrossel .img:target {
    opacity: 1;
    z-index: 1;
  }
   
  .carrossel .img img {
    object-fit: cover;
  }
   
  .seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
   
  .seta img {
    width: 100%;
    height: 7vh;
    background: #d9d9d9;
    padding: 10px;
  }
   
  .setaesquerda {
    left: 0px;
  }
   
  .setadireita {
    right: 0px;
  }
   
#article-travel-index {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-travel-index {
    color: #FFFFFF;
    font-size: 5vw;
    line-height: 100%;
    margin-bottom: 20px;
    text-shadow: 2px 4px 4px #00000080;
    font-weight: 400;
}

.txt-travel-index {
    color: #FFFFFF;
    font-size: 2vw;
    text-shadow: 2px 4px 4px #242424;
}

.index-background-container-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 50vw;
    height: auto;
    border-radius: 2rem;
    border: 1px solid #000000;
}

#article-travel-index-2 {
    margin-top: 20rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#img-travel-index {
    width: 40vw;
    height: auto;
    transform: translate(0, 8%);

}

#content-travel-main-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin: 12rem;
}

#content-travel-index-2 {
    color: #FFFFFF;
}

#subtitle-travel {
    font-size: 4vw;
    line-height: 100%;
    font-weight: 400;
    text-shadow: 2px 4px 4px #00000080;
}

#img-travel-index-2 {
    width: 60vw;
    height: auto;
    transform: translate(2%, 3%);
}

#footer-index-travel {
    background-color: #242424;
    padding: 0.5rem;
    margin-top: 20vh;
    width: 100%;
}

#container-footer-index-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    width: 100%;
    height: 10vh;
}

#ico-footer-travel-whatsapp {
    object-fit: contain;
    width: 6vw;
    height: 10vh;
}

#ico-footer-travel-facebook {
    object-fit: contain;
    width: 4vw;
    height: 6vh;
}

#ico-footer-travel-instagram {
    object-fit: contain;
    width: 4vw;
    height: 6vh;
}

#ico-footer-travel-X {
    object-fit: contain;
    width: 7vw;
    height: 10vh;
}

.ico-footer-travel{
    transition: .5s;
}

.ico-footer-travel:hover {
    padding: 0.5rem;
}

/* Quem Somos */


#who-main-travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #F5EBFA;
}

#who-title-travel {
    color: #F5EBFA;
    background-color: #242424;
    width: 40vw;
    height: auto;
    padding: 2vw;
    font-size: 4vw;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#who-article-all {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

#who-container-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 35vw;
    height: auto;
    border-radius: 10vw;
    padding: 3vw;
}

#who-txt-travel {
    color: #F5EBFA;
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0 2vw;
}

#who-container-txt-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 35vw;
    height: auto;
    border-radius: 10vw;
    padding: 6vw;
}

#who-txt-travel-2 {
    color: #F5EBFA;
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    font-weight: 400;
    padding: 0 2vw;
}

#who-footer-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #242424;
    width: 100%;
    height: 7vw;
    color: #FFFFFF;
    font-size: 1.5vw;
}

/* Serviço Travel */

#service-pack-main-travel {
    padding-top: 10vh;
}

.service-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 80%;
    height: 15vh;
    font-size: 4vw;
    font-weight: 400;
    line-height: 100%;
    border-radius: 10vw;
    margin: 2rem auto;
    color: #FFFFFF;
}

.service-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-img-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2vw solid #242424;
    width: 60vw;
    height: auto;
    border-radius: 10vw;
    transition: .3s ease;
    cursor: pointer;
}

.service-img-travel:hover {
    transform: scale(1.05);
}

.service-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 25vw;
    height: auto;
    border-radius: 6vw;
    font-weight: 400;
    font-size: 2vw;
    padding: 4vw;
    color: #F5EBFA;
}

   /* Planos */

#plans-main-travel {
    padding-top: 10rem;
}

#plans-container-title {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 32.3rem;
    height: 9.7rem;
    border-radius: 1rem;
    margin-bottom: 10rem;
}

#plans-title-travel {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
    color: #F5EBFA;
}

.plans-article-travel {
    margin: auto;
    background-color: #242424;
    width: 90vw;
    height: auto;
    border-radius: 10vw;
    padding: 1rem;
    margin-top: 10rem;
}

.plans-container-title-2 {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #604A7B;
    width: 70%;
    height: 10vh;
    border-radius: 1rem;
}

.plans-title-travel-2 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
    color: #F5EBFA;
}

.plans-image-travel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2vw solid #604A7B;
    width: 40vw;
    height: auto;
    border-radius: 10.3rem;

}

.plans-article-travel-position {
   display: flex;
   justify-content: space-around;
   gap: 4rem;
}

.plans-container-travel-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #604A7B;
    width: 40vw;
    height: auto;
    border-radius: 10vw;
    padding: 2vw;
}

.plans-container-travel-title {
    font-weight: 400;
    font-size: 1.4vw;
    color: #F5EBFA;
    text-align: center;
    margin-bottom: 10px;
}

.plans-container-travel-description {
    font-weight: 400;
    font-size: 1.2vw;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.plans-link-travel {
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 100%;
    color: #FFFFFF;
}

/* Comprar */

#shop-main-travel {
    margin: 5rem auto;
    width: 60vw;
    height: auto;
    rotate: 0deg;
    opacity: 0.7;
}

#shop-container {
    width: 60vw;
    height: auto;
    border-radius: 10.3vw;
    rotate: 0deg;
    background-color: #242424;
}

#shop-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    padding-top: 3rem;
}

#shop-img {
    width: 15.4rem;
    height: 9.625rem;
}

#shop-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7.2rem 5rem;
    margin-bottom: 4rem;
}

.shop-input {
    width: 17.9rem;
    height: 4.6rem;
    background-color: #604A7B;
    box-shadow: 0px 4px 4px 0px #00000040;
    outline: none;
    border: none;
    text-align: center;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    opacity: 0.3;
}

#shop-select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shop-select {
    margin-bottom: 1rem;
    width: 17.9rem;
    height: 4.6rem;
    background-color: #604A7B;
    outline: none;
    border: none;
    color: #afafaf;
    text-align: center;
}

#shop-option-title {
    display: none;
}

#shop-select-2 {
    width: 55vw;
    height: 7vh;
    background-color: #604A7B;
    outline: none;
    border: none;
    color: #afafaf;
    text-align: center;
}

#shop-option-title-2 {
    display: none;
}

#shop-container-checkbox {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 2vw;
}

#shop-input-checkbox[type="checkbox"] {
    position: relative;
    background-color: #D9D9D9;
    width: 2.9rem;
    height: 2.4rem;
    box-shadow: 0px 4px 4px 0 #00000040 inset;
    appearance: none;
    cursor: pointer;
}

#shop-input-checkbox[type="checkbox"]:checked {
    background-color: limegreen;
}

#shop-input-checkbox[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    width: 0.5rem;
    height: 1.3rem;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
    transition: all .3s ease;
}

#shop-input-checkbox[type="checkbox"]:checked::before {
    border-color: #FFFFFF;
    border-radius: .25rem;
}

#shop-label-checkbox {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    color: #FFFFFF;
}

#shop-button-link {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shop-button {
    width: 35vw;
    height: 10vh;
    border-radius: 10vw;
    background-color: #604A7B;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 100%;
    color: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: 20px;
}

#shop-button:hover {
    opacity: .7;
}

